<VirtualHost *:80>
    ServerName {{ServerName}}
    ServerAlias {{ServerAlias}}
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/{{ServerName}}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
